

header #resp {
  background: rgba(0, 0, 0, 1);
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  border-radius: 5px;
  transform: rotate(90deg);
  margin: 0 0 0 10px;
  display: none;
  position: fixed;
  right: 15px;
  z-index: 999;
}

header #resp span {
  border: 1px solid #fff;
  margin: 0 3px;
}

footer .copy-mobile {
  display: none;
  font: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}

footer .copy-mobile p {
  text-align: center;
  float: none;
}

/* @media(max-width: 1199px) {
  header {
    height: 768px;
  }
} */

@media (max-width: 991px) {
  header #resp {
    display: inline-block;
  }

  header .right-side nav ul  {
    display: none;
    z-index: 10;
    background: #000000;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  header .right-side nav {
    width: 100%;
    position: fixed;
    left: 0;
    padding-top: 39px;
    z-index: 999;
  }

/*  header  {
    overflow-x: hidden;
  }*/

  header .right-side nav ul li {
    float: none;
    padding: 5px 0;
  }

  header .right-side nav ul li a {
    color: #fff;
  }

  footer .bottom-links, footer .bottom-contacts {
    width: 23%;
    min-width: auto;
  }

  footer .bottom-links ul, footer .bottom-contacts ul {
    padding-left: 20px;
  }

/*   .search-tab input {
  background: rgba(0, 0, 0, 0.6);
}

header .main-search form #date-from-wrapper input, header .main-search form #guests-wrapper #guests-button {
  background: rgba(0, 0, 0, .6);
} */

  .tourist-info .one-third a, .tourist-info .two-third a {
    height: 400px;
  }
}

@media (max-width: 768px) {
  /* header .main-search {
    padding-top: 100px !important;
  }

  header .main-search form {
    width: 100%;
  }

  header .main-search form .col-2 {
    width: 100%;
    margin-bottom: 10px;
  } */

 /*  header .main-search form #date-from-wrapper, header .main-search form #date-to-wrapper, header .main-search form #guests-wrapper, header .main-search form .btn {
   width: 50%;
   padding-bottom: 10px;
   margin: 0;
 } */

  /* header .main-search form #date-from-wrapper input, header .main-search form #guests-wrapper #guests-button {
    width: 97% !important;
  } */

  header .main-search form .btn {
    max-width: none;
  }


   .search-tab .col-2 {
        width: 100%;
        margin-bottom: 10px;
    }

   /*  .search-tab #date-from-wrapper, .search-tab #date-to-wrapper, .search-tab #guests-wrapper, .search-tab .btn {
       width: 50%;
       padding-bottom: 10px;
       margin: 0;
   } */

    /* .search-tab #date-from-wrapper input, .search-tab #guests-wrapper #guests-button {
        width: 97% !important;
    } */

    .search-tab .btn {
        max-width: none;
    }

  .city .small-title {
    padding-bottom: 15px;
    font-size: 28px;
    line-height: 45px;
  }

  .direction .three-block a, .direction .three-block a:first-child, .direction .three-block a:last-child {
    width: 100%;
    margin: 10px;
  }

  footer {
    text-align: center;
    background-color: #000;
    padding-bottom: 10px;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 35px;
  }

  footer .copyright {
    display: none;
  }

  footer .copy-mobile {
    display: block;
    padding-top: 15px;
    font-size: 12px;
  }

  footer .bottom-links, footer .bottom-contacts {
    margin: 0 auto;
    width: 49%;
  }

  footer .social-links li {
    display: inline-block;
    float: none;
  }

  footer .web-studio {
    margin-top: 0;
  }

  footer .bottom-contacts {
    min-width: auto;
  }

  .tourist-info .one-third {
    width: 100%;
  }

  .tourist-info img {
    height: auto;
  }

  .tourist-info .two-third {
    width: 100%;
  }

  .tourist-info .two-third a.large {
    width: 100%;
  }

  .tourist-info .two-third a {
    width: 100%;
   }

  .tourist-info .two-third .row {
    margin-bottom: 0;
  }

  .direction .two-block a {
    width: 100%;
  }

  .small-title, .owner .title, .about-project .title {
    font-size: 30px;
  }
  .small-title span {
    font-size: 14px;
  }

  .direction span {
    font-size: 16px;
  }

  .project-wrapper {
    padding: 40px 15px;
    margin-bottom: 30px;
  }

  .tourist-info img {
    height: 100%;
    border-bottom:  5px solid #fff;
  }

  .tourist-info .one-third a, .tourist-info .two-third a {
    height: 250px;
  }
}

@media (max-width: 550px) {
  header .right-side .tel {
    display: none;
  }

  header .main-search p {
    font-size: 28px;
  }

  .tourist-info .one-third, .tourist-info .two-third {
    width: 100%;
  }

  .about-project .title {
    font-size: 34px;
  }

  .about-project .project-info p {
    font-size: 14px;
  }

  .owner .title {
    font-size: 34px;
  }

  footer .bottom-links, footer .bottom-contacts {
    width: 100%;
  }

  #ui-datepicker-div {
    width: 92%!important;
    margin-top: 10px;
  }

  #ui-datepicker-div .ui-datepicker-group {
    width: 100%!important;
    margin-bottom: 15px;
  }
}

/* @media (max-width: 800px) and (min-width: 600px) {
  header .main-search  {
    padding-top: 33%!important;
  }
} */
